 /* Style Commun à tous les projet (Body) */

body {
  width: 98vw;
  height: 200vh;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(177, 147, 147, 0.8);
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  
  position: absolute;
  top: 10px;
  left: 10px;
}

.context {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 4vw;
}

h2{
  color: rgb(89, 5, 173);
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 3vw;
}

h4{
  color: rgb(0, 0, 0);
  font-size: 2vw;
  text-align:left
}


/*image et balise h3 effet*/
.image {
  display: flex;
  flex-direction: column; /* ajouter la direction de la colonne */
  align-items: center;
  margin-top: 50px;
  }

.image h3 {
  font-size: 3vw;
  color: rgb(89, 5, 173);
}

.image img {
  max-width: 300px;
  max-height: 200px;
  margin-top: 10px;
  object-fit: contain;
  transform: scale(1.1);
  transition: transform 0.3s, opacity 0.3s; /* ajouter la transition d'opacité */
}

.transparent {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s; /* ajouter la transition d'opacité */
}

.image img:hover {
  transform: scale(4.5);
  opacity: 1; /* rendre l'image survolée complètement opaque */
}


 /* projet qui possède une vidéo*/
.cadre-video {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 90%; /* Prend presque toute la largeur de l'écran */
  margin-top: 5%;
  height: 50vh; /* Ajustez la hauteur de manière appropriée */
}

/* Style pour la vidéo à l'intérieur du cadre */
.cadre-video video {
  width: 100%; /* Remplit entièrement le conteneur */
  height: 100%; /* Remplit entièrement le conteneur */
  display: block;
}

 /* projet Vaca-meet-Application-Web  et  Vaca-meet-Application-Mobile  */
.network{margin-top: 2%;}

.network p{font-size: 2vw; margin: 2%; color: #838383;}

.network p span {font-size: 2vw; color: #5f641a;}

.network-image a img{width: 5vw; margin-left: 3%; border-radius: 50% ;}