/***************** MISE EN PAGE GENERALE **********************/
html {scroll-behavior: smooth;}

body {
  margin: 0; /* Pour supprimer les marges par défaut du body */
  padding: 0; /* Pour supprimer les paddings par défaut du body */
  min-height: 100vh; /*pour que les autres sections occupe l'espace vide */
  box-sizing: border-box; /* Pour inclure les paddings et bordures dans la largeur */
  font-family: "Poppins", sans-serif;
  overflow-x:  hidden; /* Désactiver le défilement horizontal */
  display: flex;
  flex-direction: column;
  background-color:   #f5f5f5;
  width: 100vw;
  height: 100vh;
}
/********************* END MISE EN PAGE GENERAL ******************************************************/

/********************* NAVBAR ***********************************************************************/
/* Navbar style*/
.hide {display: none; }

/* Style pour souligner la moitié d'un mot */
.half-underline {position: relative; }

.half-underline::before {content: ""; position: absolute; bottom: 0; left: 0; width: 50%; height: 1px;
  background-color: #febd01; /* Couleur de soulignement, vous pouvez modifier selon vos préférences */ }

.half-underline::after {content: ""; position: absolute; bottom: 0; right: 0; width: 50%; height: 1px;
  background-color: transparent; /* Utilisez la couleur de fond du conteneur pour masquer la seconde moitié du soulignement */ }

/* Style pour le menu burger*/
.hamburger {display: none; }

#filter-btns {display: flex; list-style-type: none; padding: 0; }
/************************ END NAVBAR  **************************/

/*******************  HEADER ********************************/
header {transition: opacity 0.5s ease; width: 100vw; height: 5vh; display: flex;
  position: fixed; /* Pour fixer la barre de navigation en haut de l'écran */
  top: 0; left: 0; border-bottom: 1px solid #423940; padding: 0; display: flex; justify-content: space-between; align-items: center;
  z-index: 100; }

header.hide { opacity: 0;
  pointer-events: none; /* Pour éviter les interactions lorsque la navbar est cachée */
  background-color: rgba(9, 152, 247, 0.5); }

.navbar{ display: flex; height: 5vh; width: 100vw; transition: opacity 0.5s;
  background-color: rgba(9, 152, 247, 0.8);z-index: 2;}

header .brand-name{margin-left: 3%;align-items: center; display: flex;  height: 100%;}

header .brand-name a {text-decoration: none; font-size: 2vw; font-weight: 600; color: white; text-transform: uppercase; }

header.fixed { background-color: rgba(9, 152, 247, 0.5); width: 100vw; color: white; border-color: #eeeeee;
   animation: fixHeader 0.5s ease;}

header  ul { display: flex; margin-left: 3%; align-items: center; /* Centrer verticalement le contenu */ padding: 0;}

header  ul li { display: inline-block; margin-left: 2%; }

header  ul li a { text-decoration: none; font-size: 2.2vw; color: black; text-transform: uppercase;}

header  ul li a:hover {color: #f1f1f1;}

header.fixed  ul li a {color: #000000;}

header.fixed  ul li a:hover { color: #f1f1f1;}
/********************* END HEADER ****************************/

/************************ HOME ***************************/
.home {
  background-image: url("/image/Image-site-web/Background/background-oréol.jpg");
  background-size: cover; padding: 0; margin: 0; box-sizing: border-box;}

.home .home-content {display: flex; flex-wrap: wrap; align-items: center; margin-top: 5%;}

.home .home-content .block {flex: 0 0 75%; max-width: 75%; margin-left: 3%; margin-top: 3%; border-left: 5px solid white;}

.home .home-content .block h1 {color: white; font-size: 5vw; font-weight: 600; margin-left: 3%; line-height: 1.2;}

.home .home-content .block .cv-btn{margin-top: 10%; margin-left: 3%;}

.home .home-content .block .cv-btn a {border-radius: 4px; color: white; border: 1px solid white;padding: 12px 25px;
  text-decoration: none; display: inline-block; font-size: 14px; text-transform: uppercase; font-weight: 600; transition: all 0.5s ease;}

.home .home-content .block .cv-btn a:hover {background-color: white; color: #000000;}

/*logo réseaux sociaux*/
.medias{display: flex; flex-direction: row; margin-left: 30%; margin-top: 5%;}

.bulle{width: 5vw; height: 5vw; border-radius: 50%; border: 1px solid #f1f1f1; display: flex; justify-content: center;
  align-items: center; background: #f1f1f1; cursor: pointer; position: relative;margin-right: 3%;overflow: hidden;}

.logo-medias {width: 4vw; height: 4vw; object-fit: contain;}
/* END logo réseaux sociaux*/
/*********************************END HOME **********************************/

/*********************************ABOUT ME**********************************/
.about-me {width: 100vw;}

/*Annonce profil*/
.annonce-profil {background-color: rgb(9, 152, 247);color: white;display: flex; justify-content: center; align-items: center; height: 6vh; }

.annonce-profil h1 {font-size: 2.5vw;text-align: center;margin: 0;}

.section-title {display: inline-block;text-transform: uppercase;color: black;width: 100vw;align-items: center; margin-left: 1%;}

.section-title h1 {font-size: 2vw;}

/* image ski et présentation personelle */
.about-content{display: flex;}

.about-me .about-content .img{ margin-left: 1%;}

.about-me .about-content .img img {
  object-position: center center; /* Positionne l'image au centre */
  background-color: #f5f5f5; /* Couleur de la bordure (facultatif) */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet d'arrondi plus doux */
  width: 40vw;
}

.about-content .text {margin-left: 1%;}

.about-content .text h1 {font-size: 3.5vw; color: #520c0c; margin: 0; /* Ajout pour supprimer la marge autour du titre h1 */}

.about-content .text h6 {font-size: 3vw; color: #000000;}

.about-content .text h6 span {color: #5f641a; font-size: 3vw;}

.text-suite{margin-left: 2%}

.text-suite p span {color: #5f641a; font-size: 3vw;}

.text-suite p {color: #838383; font-size: 3vw;}
/* End image ski et présentation personelle */

/*info personelle */
.info-personelle{display: flex; flex-wrap: wrap; margin-top: 5%;}

.list {display: flex; flex-wrap: wrap; border-bottom: 1px solid #838383; margin-left: 2%; font-size: 3vw;}

.list span{color: #5f641a;font-size: 3vw;}

.network{margin-top: 2%;}

.network p{font-size: 3vw; margin: 2%; color: #838383;}

.network p span {font-size: 3vw; color: #5f641a;}

.network-image a img{width: 5vw; margin-left: 3%; border-radius: 50% ;}
/*************************************** END ABOUT ME **********************************************/

/*************************************** SKILL ************************************************/
/*Annonce Compétence*/
.skill {width: 100vw;}

.annonce-competences{background-color: rgb(9, 152, 247);color: white;display: flex; justify-content: center; align-items: center; height: 6vh; }

.annonce-competences h1{font-size: 2.5vw;text-align: center;margin: 0;}

/*Tableau skill */
.skill {background-color: #f5f5f5;}

.tableau {display: inline-block;text-transform: uppercase;color: black;width: 100vw;align-items: center; margin-left: 1%;}

.tableau h1{font-size: 2.5vw;}

.skill .filter-button {display: flex; position: relative; display: none;}

.skill .filter-button ul {list-style: none; display: flex; margin-left: 1%;}

.skill .filter-button ul li {color: black; text-transform: uppercase; cursor: pointer; align-items: center; font-size: 2vw; margin-left: 8%;}

.skill .filter-button ul li:hover {color: #febd01; border-bottom: 2px solid #febd01;}

/*Tableau */
table {border-collapse: collapse; width: 90%; height: 70%; border: 2px solid black; margin-left: 3%; margin-bottom: 1%;
  font-family: Arial, sans-serif; font-size: 1vw; box-shadow: 0px 0px 15px grey;}

th, td {border: 1px solid black; padding: 10px;}

th {background-color: #00477e; color: white;}

/***********Gérer la gestion PDF / tableau  ******************/
.pdf-section, .tableau-skill {display: none;}

.show {display: block;}

.pdf-section {width: 100%; height: 500px; position: relative;}

#pdf-frame {width: 100%; height: 100%; border: none;}

/* Style des boutons "PDF" "Tableau" */
.toggle-buttons {font-size: 2vw; margin-bottom: 4%; margin-left: 4%; }

.toggle-buttons button {background-color: #008CBA; color: white; padding: 10px 20px; border: none; border-radius: 5px; 
  font-size: 2vw; cursor: pointer; margin-right: 10px; transition: background-color 0.3s; }

.toggle-buttons button:hover {background-color: #006699; /* Couleur de fond au survol */}

.toggle-buttons button:focus {outline: none; /* Retire le contour lorsqu'on clique sur le bouton */}
/******************************************* END SKILL **********************************************/

/******************************************* PROJET ************************************************/
  /*Annonce projet */
.portfolio{width: 100vw;}

.annonce-projet{background-color: rgb(9, 152, 247);color: white;display: flex; justify-content: center; align-items: center; height: 6vh; }

.annonce-projet h1{font-size: 2.5vw;text-align: center;margin: 0;}

 /*Lien Projet */
 th, td, a{text-decoration: none;}

.portfolio {background-color: #f5f5f5;}

.projets {display: inline-block;text-transform: uppercase;color: black;width: 100vw;align-items: center; margin-left: 1%;}

.projets h1{font-size: 3vw;}

.portfolio .filter-buttons {display: flex; justify-content: center; font-size: 3vw;}

.portfolio .filter-buttons ul {list-style: none; display: flex; justify-content :space-between;}

.portfolio .filter-buttons ul li {color: black; text-transform: uppercase; cursor: pointer; align-items: center; margin-right: 3%;}

.portfolio .filter-buttons ul li:hover {color: #febd01; border-bottom: 2px solid #febd01}

.portfolio-gallery {display: flex; flex-wrap: wrap; margin-top: 5%; justify-content: flex-start;} /* Modifié de center à flex-start */

.portfolio-gallery .item { display: flex; flex-direction: column; justify-content: space-around; width: 15vw; margin-left: 5%;}

.portfolio-gallery .item  h4{font-size: 2vw; }

.portfolio-gallery .item img {width: 100%; height: 12vw; object-fit: cover; border-radius: 5px; }
/************************************************** END PROJET ******************************************************/

/************************************************** veille technologique ******************************************************/
  /*Annonce veille */
.veille {width: 100vw;}

.annonce-veille{background-color: rgb(9, 152, 247);color: white;display: flex; justify-content: center; align-items: center; height: 6vh; }
  
.annonce-veille h1{font-size: 2.5vw;text-align: center;margin: 0;}

.veille-technologique {display: flex;text-transform: uppercase;color: black;width: 100vw;align-items: center; margin-left: 1%;}

.veille-technologique h1 {font-size: 4vw;}

/* Style pour le bouton */
#showImageBtn {border-radius: 10%;margin-left: 3%; border:none;background-color: #8ddb8f;color: white;cursor: pointer;}

/* Style pour l'image agrandie */
.image-popup {display: none; position: fixed; z-index: 1; left: 2%;top: 7%;width: 90%;height: 90%;overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.9); }

/* Style pour la croix de fermeture */
.close {position: absolute; top: 15px; right: 35px;color: #f1f1f1;font-size: 40px;font-weight: bold;cursor: pointer;}

#news-container {display: grid; grid-template-columns: 1fr 1fr; gap: 1vw;}

.news-item {background-color: #f9f9f9; padding: 1%; border: 1px solid #ddd; margin: 1% 2%;  width: auto; max-width: 80%; }
/************************************************** END veille technologique ******************************************************/

/************************************************** FORMULAIRE *****************************************************/
.contact-us{width: 100vw;}

.message-text {background-color: rgb(9, 152, 247);color: white;display: flex; justify-content: center; align-items: center; height: 6vh; }

.message-text h1 {font-size: 2.5vw;text-align: center;margin: 0}

.titre-contact {display: inline-block;text-transform: uppercase;color: black;width: 100vw;align-items: center; margin-left: 1%;}

.titre-contact h1{font-size: 3vw;}

/*Formulaire de contact*/
.formulaire-contact{margin-left: 5%; margin-top: 3%; }

/* Étiquette du formulaire */
label {display: block; font-weight: bold; font-size: 3vw; margin-bottom: 5px;}

/* Champ de formulaire */
input[type="text"] {padding: 10px; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box; font-size: 16px; margin-bottom: 10px;}

input[type="email" i] {padding: 10px; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box; font-size: 16px; margin-bottom: 10px;}

textarea {padding: 10px; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box; font-size: 16px; width: 70%; margin-bottom: 10px;}

/* Champ de formulaire actif */
input:focus,textarea:focus {outline: none; border-color: #7eca9c;}

/* Bouton d'envoi */
.bouton-envoyer {background-color: #7eca9c; color: #fff; border: none; border-radius: 3px; padding: 10px 20px; font-size: 3vw;
  cursor: pointer; margin-top: 1%; margin-bottom: 3%;}

/* Style pour les erreurs de formulaire */
.error {color: red; font-size: 14px; margin-top: 5px;}
/*************************************************  END FORMULAIRE ***********************************************/ 

/*************************************************  FOOTER  ******************************************************/
footer { display: flex; width: 100vw; background-color: rgb(9, 152, 247);}

footer .logo {margin-left: 1%; color: white;}

footer .logo h1{font-size: 3vw; margin-top: 30%; }

footer .social {display: flex; margin-left: 1%;}

footer .social img {margin-left: 20%; width: 5vw; margin-top: 30%; }

footer .social a{margin-left: 20%;}

/*Copyright*/
.copyright {background-color: rgb(9, 152, 247); border-top: 1px solid #d1c0c0;}

.copyright p {color: black; font-size: 3vw;margin: 0; text-align: center; }
/**********************************************************   END FOOTER *****************************************************/

/**********************************************************  C3PO *****************************************************/
/* Styles pour le bouton du chatbot */
.chatbot-button {display: none; position: fixed; bottom: 20px; right: 20px; cursor: pointer;}

.chatbot-button img {position: fixed; width: 50px; bottom: 20px; right: 20px; cursor: pointer;}

/* Styles pour la boîte de dialogue du chatbot */
.chatbot-dialog {position: fixed; bottom: 80px; right: 20px; width: 300px; background-color: #fff; border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); display: none;}

/* Styles pour le bouton de fermeture */
#closeButton{background-color: #7eca9c; color: #fff; border: none; border-radius: 3px; padding: 10px 20px; font-size: 16px;
  cursor: pointer; margin-top: 1%;margin-bottom: 3%;}

.chat-container {max-height: 300px; overflow-y: scroll;padding: 10px;}

#userInput {width: 80%; padding: 5px;}

#sendMessageButton {background-color: #7eca9c; color: #fff; border: none; border-radius: 3px; padding: 10px 20px; font-size: 16px;
  cursor: pointer; margin-top: 1%; margin-bottom: 3%; margin-left: 3%;}

.message-user {color: blue;}

.message-bot {color: green;}
/**********************************************************   END C3PO *****************************************************/

/********************************************** MEDIA QUERIES POUR LES APPAREILS MOBILES ************************************/

/* Modifier la mise en page de la section Home */
@media only screen and (max-width: 576px) {  /* Pour les écrans jusqu'à 576px de largeur (petits appareils mobiles) */
    
  /* Modifier la mise en page de la section "About Me" */
  .section-title h1{text-align: center;}

  .about-me .about-content {flex-direction: column;}

  .about-me .about-content .img {margin-left: 0; margin-right: 0; flex: 0 0 100%; max-width: 100%; text-align: center;}

  .about-me .about-content .text {flex: 0 0 100%; max-width: 100%; padding-left: 0; text-align: center;}

  /* Modifier la mise en page de la section "Skill" */
  .tableau h1{text-align: center;}

  table {font-size: 2vw; }

  /* Modifier la mise en page de la section "Projet" */
  .projets h1{text-align: center;}

  /* Menue burger pour la liste*/
  .hamburger {display: block; margin-left: 10%;}
    
  #filter-btns {display: none; flex-direction: column; font-size: 2vw;}
    
  .filter-buttons ul li{margin-top: 10%;}
    
  /* Mettre les image en colonne */
  .portfolio-gallery {flex-direction: column;}
    
  .portfolio-gallery .item{margin-left: 30%;}
    
  .portfolio-gallery .item  h4{width: 50vw; margin-top: 0; margin-bottom: 30%;}
    
    
  .portfolio-gallery .item img{margin-top: 20%; width: 50vw; height: 80%;}

  /* Modifier la mise en page de la section "Veille" */
  .veille-technologique h1{text-align: center;}

  .annonce-veille h1 {
    font-size: 3vw; /* Ajuster la taille de la police pour les petits écrans */
    margin-left: 10%; /* Ajuster la marge */
  }

  .veille-technologique h1 {
      font-size: 2vw; /* Ajuster la taille de la police pour les petits écrans */
  }

  #news-container {
      display: grid;
      grid-template-columns: 1fr; /* Afficher les éléments en une seule colonne */
      gap: 1vw;
  }

  .news-item {
    padding: 1%; border: 1px solid #ddd; margin: 1% 2%;  width: auto; max-width: 90%; 
  }

  /* Modifier la mise en page de la section "formulaire" */
  .titre-contact h1{text-align: center;}
}

/**************** END MEDIA QUERY ***********************************/
/**************** MEDIA QUERY grand écrant ***********************************/
@media only screen and (min-width: 1577px) {

/* gestion info personel */
.text-suite p span {color: #5f641a; font-size: 2vw;}

.text-suite p {color: #838383; font-size: 2vw;}

.list {display: flex; flex-wrap: wrap; border-bottom: 1px solid #838383; margin-left: 2%; font-size: 2vw;}

.list span{color: #5f641a;font-size: 2vw;}

.network{margin-top: 2%;}

.network p{font-size: 2vw; margin: 2%; color: #838383;}

.network p span {font-size: 2vw; color: #5f641a;}

/* gestion projet */
.portfolio-gallery .item { display: flex; flex-direction: column; justify-content: space-around; width: 10vw; margin-left: 5%;}

.portfolio-gallery .item  h4{font-size: 1vw; }

.portfolio-gallery .item img {width: 100%; height: 10vw; object-fit: cover; border-radius: 5px; }
  
/* Ajoutez ici vos styles pour les grands écrans */
}